.noticias-principal .posts-fixture-container .posts .post:not(.principal) {
    flex: 1 1 25%;
    position: relative;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    margin-right: 24px;
}







.noticias-principal .posts-fixture-container .posts .post .image-container {
    width: 100%;
    position: relative;
}

.noticias-principal .posts-fixture-container .posts .post .image-container .post-image {
    min-height: auto;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.noticias-principal .posts-fixture-container .posts .post .image-container .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(to top, rgba(23, 59, 106) 1%, rgb(23 59 106 / 38%) 50%);
    border-radius: 20px 20px 0px 0px;
}



.noticias-principal .posts-fixture-container .posts .post .info {
    padding: 28px 46px;
    background-color: white;
    height: 400px;
    border-radius: 0px 0px 20px 20px;
}



.noticias-principal .post:not(.principal) .post-subtitle {
    height: 155px;
    overflow: hidden;
}

.noticias-principal .posts-fixture-container .posts .post .info .post-title {
    margin-top: 24px;
    font-size: 1.375rem;
    min-height: 75px;
}

.noticias-principal .posts-fixture-container .posts .post .info .separator {
    margin: 16px 0px 26px;
    width: 48px;
    height: 1px;
    background-color: #173B6A;
}




.noticias-principal .posts-fixture-container .posts .post .info .ver-mas {
    margin-top: 32px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.noticias-principal .posts-fixture-container .posts .post .info .ver-mas svg {
    margin-left: 12px;
}

.fixture-container {
    margin-bottom: 24px;
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
}

.fixture .widget.tabla {
    flex-grow: 1;
}

.fixture {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    border-radius: 20px;
    margin-left: 32px;
    min-width: 240px;
    max-width: 400px;
}

.fixture .widget {
    overflow: hidden;
}

.fixture .widget:not(:last-child) {
    margin-bottom: 24px;

}

.fixture .widget.partidos {
    margin-bottom: 24px;
    height: 130px;
    overflow: hidden;
}




.noticias-principal .posts-fixture-container {
    margin-top: 24px;
}


.noticias-principal .posts-fixture-container .posts {
    width: 100%;
    padding-right: 0px;
}

.noticias-principal .posts-fixture-container .posts .post-principal {
    margin-bottom: 24px;
}





.noticias-principal .posts-fixture-container .posts .post .info .ver-mas {
    margin-top: 0px;
}








@media (max-width: 768px) {
    .fixture-container {
        order: 10;
    }


    .noticias-principal .posts-fixture-container .posts .post:not(.principal) {
        max-width: 100%;
        flex: 1 1 100%;
        margin-bottom: 24px;
        margin-right: 0px;
    }
}



@media (max-width: 480px) {
    .fixture-container {
        order: 10;
        flex: 1 1 100%;
    }

    .noticias-principal .post-principal {
        margin-right: 0px;
    }

    .noticias-principal .search-bar
    {
        display: none;
    }
    .noticias-principal .posts-fixture-container {
        margin-top: 0px;
    }
    .noticias-principal .posts-fixture-container .posts .post:not(.principal) {
        margin-bottom: 24px;
        padding-right: 0px;
    }

    .noticias-principal .posts-fixture-container .posts .post:not(.principal) {
        max-width: 100%;
        flex: 1 1 100%;
        padding-right: 0px;
    }
}