.noticias {
    padding: 24px 0px;
}

.noticias .titulo {
    font-weight: normal;
    font-size: 3.375rem;
    margin-bottom: 56px;
}

section h2 {
    font-weight: normal;
    font-size: 3.25rem;
    line-height: 3rem;
}


.noticias .posts-fixture-container {
    margin-top: 24px !important;
    background-color: white;
    padding: 98px 0px;
}



.noticias .posts-fixture-container .posts {
    /* flex-grow: 1; */
    flex: 1 1 70%;
    flex-wrap: wrap;
}

.noticias .posts-fixture-container .posts .post:not(.principal) {
    width: 100%;
    max-width: 32%;
    background-color: white;
    position: relative;
}






.noticias .posts-fixture-container .post-principal {
    width: 75%;
    position: relative;
}

.noticias .posts-fixture-container .post-principal .content {
    margin-top: 60px;
}



.noticias .posts-fixture-container .posts .post-principal img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}



.noticias .posts-fixture-container .post-principal .info {
    height: 100%;
    max-width: 50%;
    opacity: 0.88;
    z-index: 3;
    padding-left: 10%;
}


.noticias .posts-fixture-container .post-principal .post-title {
    margin-bottom: 46px;
    font-size: 3.125rem;
}

.noticias .posts-fixture-container .post-principal .post-subtitle {
    font-size: 1.375rem;
    max-width: 80%;
    margin-top: 0px;
    margin-bottom: 28px;
}

.noticias .posts-fixture-container .post-principal .header-info .category {

    margin-right: 12px;
}

.noticias .posts-fixture-container .post-principal .header-info .fecha {

    margin-right: 12px;
}

.noticias .posts-fixture-container .post-principal .text {

    margin-top: 60px;
}



.noticias .otros-posts .post .image-container {
    max-height: 300px;
    width: 100%;
    position: relative;
}

.noticias .otros-posts .otros-posts-titulo h2 {
    margin-right: 50px;
}

.noticias .otros-posts .otros-posts-titulo .arrows svg {
    margin: 0px 12px;
}

.noticias .otros-posts .post .image-container .post-image {
    height: 100%;
    width: 100%;
}

.noticias .otros-posts .post .image-container .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(to top, rgba(23, 59, 106) 1%, rgb(23 59 106 / 38%) 50%);
    border-radius: 20px 20px 0px 0px;
}



.noticias .otros-posts .post .info {
    padding: 28px 46px;
}


.noticias .otros-posts .post .info .post-title {
    margin-top: 24px;
    font-size: 1.375rem;
}

.noticias .otros-posts .post .info .separator {
    margin: 16px 0px 26px;
    width: 48px;
    height: 1px;
    background-color: #173B6A;
}

.noticias .otros-posts .post .info .post-subtitle {
    font-size: 1rem;
    color: #B4B4B4;
    height: 120px;
}


.noticias .otros-posts .post .info .ver-mas {
    margin-top: 48px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.noticias .otros-posts .post .info .ver-mas svg {
    margin-left: 12px;
}

.noticias .otros-posts .post {
    background-color: white;
    max-width: 24%;
}

.noticias .otros-posts .post .post-image {
    width: 100%;
}



.noticias .posts-fixture-container .fixture {
    flex-grow: 1;
    background-color: grey;
    border-radius: 32px;
    margin-left: 32px;
    max-width: 400px;
}

@media (max-width:480px) {
    .noticias .search-bar .mobile-navigation {
        margin-left: 12px;
    }

    .noticias .categorias {
        height: 100%;
        max-height: 0px;
        transition: max-height 1s ease;
        overflow: hidden;
        order: 3;


    }

    .noticias .posts-fixture-container .post-principal .header-info {
        flex-direction: column;
    }


    .noticias .posts-fixture-container .post-principal {
        width: 100%;
    }


    .noticias .posts-fixture-container .post-principal .header-info .fecha {
        margin-top: 12px;
    }

    .noticias .posts-fixture-container .post-principal .post-subtitle {
        max-width: 100%;
    }

    .noticias .posts-fixture-container .post-principal .text {
        margin-top: 30px;
    }

    .noticias .search-bar .search-input {
        max-width: 80%;
    }

    .noticias .otros-posts .post {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .noticias .otros-posts .post .info .ver-mas {
        margin-top: 24px;
    }

    .noticias .posts-fixture-container .posts .post-principal .info {
        max-width: 100%;
        padding-left: 0px;
    }

    .noticias .posts-fixture-container .posts .post-principal {
        margin-bottom: 24px;

    }

    .noticias .posts-fixture-container .fixture {
        margin-top: 48px;
    }

    .noticias .arrows {
        display: none;
    }

    .carc-videos {
        padding-top: 0px !important;
    }

    .carc-videos .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .carc-videos .button-gt-lg {
        display: none;
    }

    .carc-videos .videos-carousel .arrows {
        display: none;
    }

    .carc-videos .videos-carousel .videos-carousel-list .video {
        max-width: 100% !important;
        padding-right: 0px;
    }

    .carc-videos .videos-carousel .videos-carousel-list .video .info {
        margin-top: 12px;
        margin-bottom: 36px;
    }

}