
.noticias {
    padding: 24px 0px;
}

.noticias .titulo {
    font-weight: normal;
    font-size: 3.375rem;
    margin-bottom: 56px;
}

section h2 {
    font-weight: normal;
    font-size: 3.25rem;
    line-height: 3rem;
}

.noticias .search-bar {
    height: 70px;
}


.noticias .search-bar .search-input {
    max-width: 300px;
    width: 100%;
    padding-left: 28px;
    height: 100%;
}

.noticias .search-bar .search-input,
.noticias .search-bar .categorias {

    background-color: white;
    box-shadow: 15px 15px 60px 0 rgba(181, 181, 181, 0.35);
}

.noticias .search-bar .search-input input {
    margin-left: 38px;
    border: 0px;
}

.noticias .search-bar .search-input input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B4B4B4;
    opacity: 1;
    /* Firefox */
}

.noticias .search-bar .search-input input:focus {
    outline: none;
}


.noticias .search-bar .categorias {
    margin-left: 12px;
    flex-grow: 1;
    padding: 0px 34px 0px 58px;
    height: 100%;
}


.noticias .search-bar .categorias ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.noticias .search-bar .categorias ul li {
    padding: 0px 16px;
    font-size: 0.75rem;
    cursor: pointer;
    position: relative;
}

.noticias .search-bar .categorias ul li.todas svg {
    margin-left: 24px;
}

.noticias .search-bar .categorias ul li:not(.todas) {
    color: #B4B4B4;
}

.noticias .search-bar .categorias ul li:hover {
    color: #173B6A;
}

.noticias .posts-fixture-container {
    margin-top: 76px;
}



.noticias .posts-fixture-container .posts {
    /* flex-grow: 1; */
    flex: 1 1 70%;
    flex-wrap: wrap;
}

.noticias .posts-fixture-container .posts .post:not(.principal) {
    width: 100%;
    max-width: 32%;
    background-color: white;
    position: relative;
}






.noticias .posts-fixture-container .posts .post-principal {
    width: 100%;
    height: 700px;
    margin-bottom: 48px;
    position: relative;
}



.noticias .posts-fixture-container .posts .post-principal .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgba(23, 59, 106) 1%, rgb(23 59 106 / 38%) 60%);
}

.noticias .posts-fixture-container .posts .post-principal img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}



.noticias .posts-fixture-container .posts .post-principal .info {
    height: 100%;
    max-width: 50%;
    opacity: 0.88;
    z-index: 3;
    padding-left: 10%;
}


.noticias .posts-fixture-container .posts .post-principal .post-title {
    margin: 46px 0px;
    font-size: 2.8125rem;
    color: white;
}

.noticias .posts-fixture-container .posts .post-principal .post-subtitle {
    font-size: 1rem;
    color: white;
    max-width: 580px;
}




.noticias .posts-fixture-container .posts .post .image-container {
    max-height: 300px;
    width: 100%;
    position: relative;
}

.noticias .posts-fixture-container .posts .post .image-container .post-image {
    height: 100%;
    width: 100%;
}

.noticias .posts-fixture-container .posts .post .image-container .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(to top, rgba(23, 59, 106) 1%, rgb(23 59 106 / 38%) 50%);
    border-radius: 20px 20px 0px 0px;
}



.noticias .posts-fixture-container .posts .post .info {
    padding: 28px 46px;
}


.noticias .posts-fixture-container .posts .post .info .post-title {
    margin-top: 24px;
    font-size: 1.375rem;
}

.noticias .posts-fixture-container .posts .post .info .separator {
    margin: 16px 0px 26px;
    width: 48px;
    height: 1px;
    background-color: #173B6A;
}

.noticias .posts-fixture-container .posts .post .info .post-subtitle {
    font-size: 1rem;
    color: #B4B4B4;
    height: 120px;
}


.noticias .posts-fixture-container .posts .post .info .ver-mas {
    margin-top: 48px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.noticias .posts-fixture-container .posts .post .info .ver-mas svg {
    margin-left: 12px;
}



.noticias .posts-fixture-container .fixture {
    flex-grow: 1;
    flex: 1 1 30%;
    background-color: grey;
    border-radius: 32px;
    margin-left: 32px;
    min-width: 300px;
    max-width: 400px;
}
