.main-banner {
    height: 790px;
    width: 100%;
    position: relative;
}

.main-banner .main-banner-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgb(23 59 106 / 89%) 1%, rgb(23 59 106 / 38%) 90%);
}


.main-banner .main-banner-post .main-banner-post-info {
    height: 100%;
    max-width: 50%;
    opacity: 0.88;
    z-index: 3;
}

.main-banner .widgets {
    z-index: 1;
    position: absolute;
    top: 50%;
    display: flex;
    right: 210px;
    transform: translateY(-50%);
    align-items: flex-end;
    justify-content: center;
}

.main-banner .widgets .widget {
    
    width: 570px;
}

.main-banner .widgets .widget .titulo 
{
    background-color: #001F4B;
    color: white;
    padding: 12px 8px;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    top: 1px;
}

 iframe
{
    border: initial !important;
}

.main-banner .widgets .widget iframe .mc-tournamentName
{
    width: 100 !important;
}

.main-banner .widgets .widget:last-child {
    margin-top: 24px;
}


.main-banner .main-banner-post img {
    min-height: auto;
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.main-banner .main-banner-post .main-banner-post-info .post-title {
    margin: 22px 0px 32px 0px;
    font-size: 3rem;
    color: white;
}

.main-banner .main-banner-post .main-banner-post-info .post-subtitle {
    font-size: 1.125rem;
    color: white;
    max-width: 400px;
}

.main-banner-carousel  .owl-stage-outer, .main-banner-carousel .owl-stage, .main-banner-carousel .owl-item {
    height: 100%;
}

.main-banner-carousel  .owl-nav
{
    display: none;
}

.main-banner-carousel  .owl-dots
{
    display: block !important;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.main-banner-carousel .owl-dots .owl-dot.active span
{
    background: #F9DF34  !important;
}

.main-banner-carousel  .owl-slide {
    position: relative;
    height: 100%;
    background-color: lightgray;
}

.main-banner-carousel  .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
}

.main-banner-carousel  .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

.main-banner-carousel  .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
}

.main-banner-carousel  .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
}

.main-banner-carousel  .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
}

.main-banner-carousel  .owl-dots,
.main-banner-carousel  .owl-nav {
    position: absolute;
}

.main-banner-carousel  .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-black-color);
    transition: all 0.2s ease;
}

.main-banner-carousel  .owl-dots .owl-dot:hover span,
.main-banner-carousel  .owl-dots .owl-dot.active span {
    background: var(--main-black-color);
}

.main-banner-carousel  .owl-nav {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0;
}

.redes-sociales {
    height: 320px;

}


.redes-sociales .hashtag {
    font-size: 1.5rem;
}


.redes-sociales .iconos {
    font-weight: bold;
    color: white;
    flex: 0 1 640px;
    min-width: 590px;
    margin: 0px 36px;
}


.redes-sociales .icon {
    font-weight: bold;
    color: white;
}


.redes-sociales .iconos .icon img {
    margin-right: 12px;
}



.redes-sociales .seguinos {
    max-width: 320px;
    color: white;
}





.sede-virtual {
    padding: 120px 0px;
    background-color: #102846;
}

.sede-virtual .sede-virtual-titulo h2 {
    margin: 36px 0px;
    color: white;
}


.sede-virtual .sede-virtual-titulo .iniciar-sesion-button {
    height: 50px;
    width: 220px;
    border: 1px solid white;
    border-color: white;
    color: white;

}

.sede-virtual .sede-virtual-titulo {
    margin-right: 120px;
}


.sede-virtual .sede-virtual-titulo .iniciar-sesion-button svg {
    margin-left: 12px;
}

.sede-virtual .sede-virtual-funciones {
    flex-grow: 1;
}



.sede-virtual .sede-virtual-funciones .funcion {

    padding: 42px 36px;
    background-color: white;
    color: #173B6A;
    height: 260px;
    box-sizing: border-box;
    font-size: 1.375rem;
    width: 24%;
    cursor: pointer;
}

.sede-virtual .sede-virtual-funciones .funcion:hover {
    transform: scale(1.01);
}


.socios-newsletter .hacete-socio,
.socios-newsletter .newsletter {
    width: 50%;
}

.socios-newsletter .hacete-socio {
    padding: 140px 0px;
    display: flex;

    color: white;
    justify-content: flex-end;

}

.socios-newsletter .hacete-socio .half-container {

    padding-right: 5%;

}

.socios-newsletter .hacete-socio h2 {
    margin-bottom: 50px;
    margin-top: 0px;
}

.socios-newsletter .hacete-socio .asociarse svg {
    margin-left: 20px;
}

.socios-newsletter .hacete-socio .texto {
    max-width: 280px;
}

.socios-newsletter .hacete-socio .texto .sos-parte {
    font-size: 1.3125rem;
}

.socios-newsletter .newsletter .half-container {

    padding-left: 5%;

}


.socios-newsletter .newsletter h3 {

    margin: 0px;

}

.socios-newsletter .newsletter .texto {

    max-width: 260px;

}


.socios-newsletter .newsletter .input-container {


    flex-grow: 1;
    margin-left: 30px;


}

.socios-newsletter .newsletter .input-container svg {

    margin-right: 24px;

}

.socios-newsletter .newsletter .input-container input {

    width: 100%;
    width: 100%;
    border: 0px;
    color: #2680EB;
    border-bottom: 1px solid #2680EB;

}

.socios-newsletter .newsletter .input-container input:focus {
    outline: none;
}

.socios-newsletter .newsletter .suscribirse {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.socios-newsletter .newsletter .suscribirse .suscribirse-button {
    margin-top: 36px;
    border: 1px solid #2680EB;
    border-color: #2680EB;
    color: #2680EB;
    height: 50px;
    width: 160px;
    margin-left: auto;
}

.socios-newsletter .newsletter .suscribirse .suscribirse-button svg {
    margin-left: 12px;
}





.plantel {
    height: 700px;
    position: relative;
    overflow: hidden;
}


.plantel .imagen-container {
    margin-left: 80px;
    padding-right: 20px;
    max-width: 700px;
    width: 50%;
}



.plantel .flechas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 20px;
    z-index: 100;
    width: 100%;
    left: 0;
}

.plantel .jugador-info {
    padding-left: 140px;
}

.plantel .jugador-info .posicion {
    font-size: 1.3125rem;
    text-transform: uppercase;
}

.plantel .jugador-info .nombre {
    margin-top: 16px;
    font-size: 2.4375rem;
}
.plantel .jugador-info .apellido {
    text-transform: uppercase;
}


.plantel .botones {
    margin-top: 140px;
}

.plantel .botones {
    margin-top: 140px;
    display: flex;
}

.plantel .botones .ver-ficha {
    font-size: 1.125rem;
    width: 200px;
    border: 1px solid #2680EB;
    font-weight: bold;
}

.plantel .botones .ver-ficha svg {
    margin-left: 36px;
}


.plantel .botones .ver-plantel {
    font-size: 1.125rem;
    width: 200px;
    border: 1px solid #F9DF34;
    font-weight: bold;
    margin-left: 20px;
}

.plantel .botones .ver-plantel svg {
    margin-left: 16px;
}

.tienda-oficial {
    padding: 80px 0px;
}


.tienda-oficial .section-title h2 {
    margin-top: 0px;
}

.tienda-oficial .section-title {
    flex: 1 1 0;
}

.tienda-oficial .section-title .todos-productos-button {
    width: 100%;
    font-size: 1.125rem;
}

.tienda-oficial .section-title .todos-productos-button svg {
    margin-left: 20px;
}

.tienda-oficial .arrows {
    margin: 0px 46px;
}

.tienda-oficial .arrows svg {
    margin: 0px 12px;
    width: 30px;
    height: 30px;
}

.tienda-oficial .productos-list {
    flex: 1 1 0;
    width: 300px;
}

.tienda-oficial .productos-list .producto {
    border-radius: 20px;
}

.tienda-oficial .productos-list .producto img {
    width: 100%;
    max-height: 350px;

}


.tienda-oficial .productos-list .producto .info {
    padding: 42px 26px;

}


.tienda-oficial .productos-list .producto .titulo {
    font-size: 1.375rem;
    margin: 22px 0px;
}


.tienda-oficial .productos-list .producto .descripcion {
    margin: 0px;
}

.tienda-oficial .productos-list .producto .ver-producto {

    font-size: 0.875rem;
    margin-top: 32px;
}

.tienda-oficial .productos-list .producto .ver-producto svg {
    margin-left: 12px;
}

.noticias-principal .post-principal
{
    flex: 1 1 70%;
}

@media (max-width: 480px) {

    .main-banner
    {
        height: 600px;
    }
    .tienda-oficial .container {
        display: block;
    }
    .tienda-oficial .arrows {
        margin: 0px;
    }

    .sede-virtual .sede-virtual-funciones .funcion {
        margin-bottom: 24px;
        flex-grow: 1;
        height: 200px;
        width: 100%;
    }
}


@media (max-width: 1023px) and (min-width: 768px) {
    .sede-virtual .sede-virtual-funciones .funcion {
      
        height: 200px;
    }
}

@media (max-width: 768px) {




    .button-xs {
        display: block;
    }

    .socios-newsletter .hacete-socio,
    .socios-newsletter .newsletter {
        width: 100%;
        padding: 140px 0px;
    }


    .redes-sociales .iconos {
        margin: 0px;
        min-width: 100%;
    }

    .redes-sociales .iconos .icon {
        flex: 1 1 0;
        text-align: center;

        flex-direction: column;
    }

    .redes-sociales .iconos .icon img {
        height: 40px;
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .plantel .jugador-info {
        padding-left: 0px;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }


    .noticias .search-bar .mobile-navigation {
        margin-left: 12px;
    }





    .plantel .botones {
        width: 100%;
        margin-top: 40px;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .plantel .radius-button {
        margin-left: 0px !important;
        margin-bottom: 24px;
        font-size: 1rem;
        width: 50%;
        padding: 12px 0px;
    }

    .plantel .botones .ver-ficha {
        margin-right: 12px;
    }


    .plantel .botones .radius-button svg {
        margin-left: 12px !important;
    }

    .plantel {
        height: 100%;
        padding: 120px 0px;
    }

    .plantel .container {
        align-items: flex-start;
    }

    .plantel .imagen-container {
        margin: 0 auto;
        width: 70%;
        padding-right: 0px;
    }

    .plantel .container {
        display: block !important;
    }

    .plantel .imagen-container img {
        width: 100%;
        min-height: auto !important;
    }

    .socios-newsletter .newsletter .half-container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .socios-newsletter .newsletter .input-container {
        flex-grow: 1;
        margin-left: 0px;
        margin-top: 24px;
    }

    .sede-virtual .sede-virtual-titulo {
        margin-bottom: 36px;
    }

  

    .tienda-oficial .title-arrow-container
    {
        justify-content: space-between;
        width: 100%;
    }



    .tienda-oficial .container {
        display: block;
    }

    .main-banner .main-banner-post .main-banner-post-info {
        max-width: 100%;
    }


    .tienda-oficial .productos-list .producto {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .main-banner .widgets {
        display: none;
    }
}

@media (max-width: 1560px) {
    .main-banner .widgets {
        right: 30px;
    }
    

}

@media (min-width: 1240px) {
    .plantel .jugador {
        height: 600px;
    }

    .plantel .jugador img {
        width: auto !important;
    }

    .plantel .owl-item {
        display: flex;
        height: 700px;
        align-items: flex-end;
    }
}