.single-noticia {
padding: 24px 0px 0px 0px !important;
}

.single-noticia .titulo {
    font-weight: normal;
    font-size: 3.375rem;
    margin-bottom: 56px;
}

section h2 {
    font-weight: normal;
    font-size: 3.25rem;
    line-height: 3rem;
}


.gradient-container
{
    background-color: white;
}
.single-noticia  .posts-fixture-container {
    margin-top: 24px !important;
    padding: 98px 0px 24px;
}



.single-noticia .posts-fixture-container .posts {
    /* flex-grow: 1; */
    flex: 1 1 70%;
    flex-wrap: wrap;
}

.single-noticia .posts-fixture-container .posts .post:not(.principal) {
    width: 100%;
    max-width: 32%;
    background-color: white;
    position: relative;
}






.single-noticia .posts-fixture-container .post-principal {
    flex: 1 1 70%;
    padding-right: 32px;
    position: relative;
}

.single-noticia .posts-fixture-container .post-principal .content {
    margin-top: 60px;
    align-items: flex-start;
}


.single-noticia .posts-fixture-container .post-principal .content img {
  max-height: 600px;
  height: 100%;
  width: 100%;
}





.single-noticia .posts-fixture-container .posts .post-principal img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}



.single-noticia .posts-fixture-container .post-principal .info {
    height: 100%;
    max-width: 50%;
    opacity: 0.88;
    z-index: 3;
    padding-left: 10%;
}


.single-noticia .posts-fixture-container .post-principal .post-title {
    margin-bottom: 46px;
    font-size: 3.125rem;
}

.single-noticia .posts-fixture-container .post-principal .post-subtitle {
    font-size: 1.375rem;
    max-width: 80%;
    margin-top: 0px;
    margin-bottom: 28px;
}

.single-noticia .posts-fixture-container .post-principal .header-info .category {

    margin-right: 12px;
}

.single-noticia .posts-fixture-container .post-principal .header-info .fecha {

    margin-right: 12px;
}

.single-noticia .posts-fixture-container .post-principal .text {

    margin-top: 60px;
}


.single-noticia .carc-videos
{
    background-color: white;
}

.single-noticia .otros-posts .container
{
  padding: 0px;
}

.single-noticia .otros-posts .post {
    background-color: white;
}

.single-noticia .otros-posts .post .post-image {
    width: 100%;
}



.single-noticia .posts-fixture-container .fixture {
    flex-grow: 1;
    border-radius: 32px;
    margin-left: 32px;
    max-width: 400px;
}




@media (max-width:1024px) and (min-width:480px) {

    .sidebar-banner .banner {
        margin-right: 24px;
    }
    .sidebar-banner .newsletter {
        margin-left: 24px !important;
        height: 100% !important;
        margin-top: 0px !important;
    }

}
@media (max-width:480px) {
    .single-noticia .search-bar .mobile-navigation {
        margin-left: 12px;
    }

    .single-noticia .categorias {
        height: 100%;
        max-height: 0px;
        transition: max-height 1s ease;
        overflow: hidden;
        order: 3;


    }
    .single-noticia .posts-fixture-container .post-principal .content img {
        height: auto;
        width: 100%;
    }

    .single-noticia .posts-fixture-container .post-principal .header-info {
        flex-direction: column;
    }


    .single-noticia .posts-fixture-container .post-principal {
        width: 100%;
        padding-right: 0px;
    }

    .single-noticia .sidebar-banner
    {
        order: 10;
        margin-left: 0px;
        max-width: 100%;
    }


    .single-noticia .posts-fixture-container .post-principal .header-info .fecha {
        margin-top: 12px;
    }

    .single-noticia .posts-fixture-container .post-principal .post-subtitle {
        max-width: 100%;
    }

    .single-noticia .posts-fixture-container .post-principal .text {
        margin-top: 30px;
    }

    .single-noticia .search-bar .search-input {
        max-width: 80%;
    }

    .single-noticia .otros-posts  {
        width: 100%;
    }

    .single-noticia .otros-posts .post {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .single-noticia .otros-posts .post .info .ver-mas {
        margin-top: 24px;
    }

    .single-noticia .posts-fixture-container .posts .post-principal .info {
        max-width: 100%;
        padding-left: 0px;
    }

    .single-noticia .posts-fixture-container .posts .post-principal {
        margin-bottom: 24px;

    }

    .single-noticia .posts-fixture-container .fixture {
        margin-top: 48px;
    }

   .noticia .carc-videos {
        padding-top: 0px !important;
    }


}