.plantilla    .toolbar-amarilla
{
    height: 70px;
    background-color: #F9DF34;
   
}

.plantilla .toolbar-amarilla .plantel-label
{
    margin-left: 12px;
}



.lista-jugadores
{
    padding: 70px 0px;
}

.lista-jugador-container
{
    width: 25%;
    padding: 12px;
}

.lista-jugadores .jugador
{
    background: white;
    border-radius: 20px;

}


.lista-jugadores .jugador .info
{
   padding: 32px 40px;

}

.lista-jugadores .jugador .imagen
{
    height: 220px;
    border-radius: 20px 20px 0px 0px;
}
.lista-jugadores .jugador .info .nombre
{
    font-size: 1.375rem;
    margin-top: 12px;
}

.lista-jugadores .jugador .info .ver-ficha
{
    display: flex;
    align-items:center;
    margin-top: 18px;
    border: 1px solid;
}

.lista-jugadores .jugador .info .ver-ficha svg
{
    margin-left: 12px;
}

@media (max-width: 1240px)
{
    .lista-jugador-container
    {
        width: 33%;
    }
    .lista-jugadores .jugador .imagen {
        height:260px;
    }

}

@media (max-width: 768px)
{
    .lista-jugador-container
    {
        width: 50%;
    }
}

@media (max-width: 480px)
{
    .lista-jugador-container
    {
        width: 100%;
    }



}