.predio .contenido {
    padding: 60px 0px;
}

.predio .container {
    max-width: 1280px !important;
}

.predio .toolbar 
{
    display: flex;
    justify-content: space-between;
}

.predio .toolbar .volver
{
    display: flex;
    align-items: center;
}

.predio .toolbar .volver svg
{
    margin-left: 8px;
}

.predio .toolbar .breadcumb 
{
    font-weight: bold;
}
.predio .toolbar .categoria
{
    margin-right: 4px;
}



.predio  .redes-sociales img
{
    filter: invert(39%) sepia(64%) saturate(1415%) hue-rotate(
        190deg
        ) brightness(95%) contrast(94%);
    width: 30px;
    margin-right: 4px;

}
.predio  .redes-sociales img:hover
{
filter: invert(78%) sepia(73%) saturate(469%) hue-rotate(
    354deg
    ) brightness(105%) contrast(95%);
}

.predio  .redes-sociales
{
    margin-top: 12px;
}

.pagina-secretariado .contact
{
    
    margin-right:12px;
}
.pagina-secretariado  .redes-sociales
{
    margin-top: 0px;
}


.predio .contenido .titulo {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 3.125rem;
    margin-top: 70px;


}

.predio .contenido .ubicacion
{
    font-weight: bold;
    margin-bottom: 36px;
    margin-right: 8px;
}


.predio .carousel-container
{
    position: relative;
    margin: 70px 0px;
}

.predio .carousel-container .arrows
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10000;


}

.predio .carousel-container .arrows .right
{
    position: absolute;
    right: 0px;
}
.predio .owl-item img {
    object-fit: cover;
    display: block !important;
    width: 50%  !important;
    max-height: 500px  !important;
    margin: 0 auto;
}

.predio .contenido .subtitulo {
    margin-top: 36px;
    font-size: 1.2rem;


}

.predio .contenido .texto {
    font-size: 1.2rem;
}

@media (max-width: 480px)
{

    
     .toolbar .breadcumb {
        display: flex;
        flex-direction: column;
    }

    .predio .owl-item img {
        width: 100% !important;
    }

}