.deportes .deporte .title {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    padding: 24px 0px;
    color: #B4B4B4;
    border-bottom: 0.5px solid #2680EB;
    cursor: pointer;
}


.deportes .deporte .title .text {

    font-size: 1.5rem;
}


.deportes .container {
    max-width: 1280px !important;
}

.deportes .deporte .title .icon {
    box-sizing: border-box;
    transition: transform 0.3s;
    min-width: 18px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    transform: rotate(180deg);
    position: relative;
    margin-right: 18px;

}

.deportes .deporte .title .icon.expanded {
    transform: rotate(0deg);

}

.deportes .deporte .title .icon.expanded::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-bottom: solid 2px #2680EB;
    position: absolute;
    bottom: 8px;
    transform: rotate(90deg);
    left: auto;
    top: auto;
}

.deportes .deporte .title .icon::before {
    content: '';
    display: block;
    width: 18px;
    height: 0px;
    border-bottom: solid 2px #2680EB;
    position: absolute;
    bottom: 8px;
    transform: rotate(90deg);
    transition: width 0.3s;
}

.deportes .deporte .title .icon::after {
    content: '';
    display: block;
    width: 18px;
    height: 0px;
    border-bottom: solid 2px #2680EB;
    position: absolute;
    bottom: 8px;
}


.deportes .deporte .content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
    display: flex;
    flex-wrap: wrap;
}

.deportes .deporte .content .imagen-container,
.deportes .deporte .content .data {
    flex: 1 1 50%;
    padding: 12px 0px;
}

.deportes .deporte .content .imagen-container img {

    padding-right: 120px;
}

.deportes .featured-img
{
    height: 160px;
}

.deportes .categoria
{
    border: 1px solid white;
}
.deportes .categoria .categoria-contenido
{
    max-height: 0px;
    height: 100%;
    overflow: hidden;
    transition: max-height 1s ease;
}

.deportes .categoria.expanded .categoria-contenido
{
    max-height: 3000px;
}
.deportes .categoria .categoria-titulo {
    font-size: 1.6rem;
    padding: 12px;
    cursor: pointer;
}

.deportes .categoria.expanded .categoria-titulo svg
{
    transform: rotateX(
180deg
);
}

.deportes .categoria .categoria-titulo svg {
    margin-right: 12px;
    transition: transform 1s ease;
}


.deportes .contenido-pagina {
    margin-bottom: 40px;
    font-size: 1.2rem;
    max-width: 70%;
}

.deportes .redes-sociales-item
{
    margin-bottom: 24px;
}
.deportes .redes-sociales-item a {

    width: 30px;
    height: 30px;
    cursor: pointer;

    margin-right: 6px;
    background-repeat: no-repeat;

}

.deportes .redes-sociales-item a img {
    width: 30px;
    filter: invert(39%) sepia(64%) saturate(1415%) hue-rotate(190deg) brightness(95%) contrast(94%);
}

.deportes .redes-sociales-item a img:hover {
    filter: invert(78%) sepia(73%) saturate(469%) hue-rotate(354deg) brightness(105%) contrast(95%);
}

.deportes .deporte .content .info .info-valor {
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 20px;
}

.deportes .lista {
    padding: 40px 0px;
}

.deportes .deporte.expanded .title {
    color: #2680EB;
    border-bottom: none;
    padding-bottom: 0px;
}

.deportes .deporte.expanded .content {
    max-height: 2000px;
    overflow: hidden;
    border-bottom: 0.5px solid #2680EB;
}



@media (max-width: 768px) {

    .deportes .deporte .content .imagen-container,
    .deportes .deporte .content .data {
        flex: 1 1 100%;
    }

    .deportes .deporte .content .imagen-container img
    {
        padding-right: 0px;
        
     width: 100%;
    }

    .deportes .lista > .container {
        padding:  0px;
    }

    .deportes .deporte .title {
        padding: 24px 15px;
    }

    .deportes .deporte.expanded .content {
        padding: 0px 15px;
    }
    .deportes .contenido-pagina {
        
        max-width: 100%;
        margin-bottom: 0px;
    }

    .deportes .info
    {
        margin-bottom: 64px;
        
    padding: 0px 15px;

    }

    .deportes .deporte .title .text {
        font-size: 1.2rem;
    }
}