

.otros-posts .post .image-container {
    max-height: 300px;
    width: 100%;
    position: relative;
}

.otros-posts .post .info .ver-mas svg {
    margin-left: 12px;
}

.otros-posts .otros-posts-titulo
{
    display: flex;
    align-items: center;
}

.otros-posts .otros-posts-titulo .arrows
{
    display: flex;
}


.otros-posts .otros-posts-titulo h2 {
    margin-right: 50px;
}

.otros-posts .otros-posts-titulo .arrows svg {
    margin: 0px 12px;
}

.otros-posts .post .image-container .post-image {
    height: 100%;
    width: 100%;
}

.otros-posts .post .image-container .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(to top, rgba(23, 59, 106) 1%, rgb(23 59 106 / 38%) 50%);
    border-radius: 20px 20px 0px 0px;
}




.otros-posts .post .info .post-title {
    margin-top: 24px;
    font-size: 1.375rem;
    height: 50px;

}

.otros-posts .post .info .separator {
    margin: 16px 0px 26px;
    width: 48px;
    height: 1px;
    background-color: #173B6A;
}

.otros-posts .post .info .post-subtitle {
    font-size: 1rem;
    color: #B4B4B4;
    height: 120px;
}


.otros-posts .post .info .ver-mas {
    margin-top: 12px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.otros-posts .owl-stage-outer
{
    padding-bottom: 48px;
    padding-left: 12px;
}

.otros-posts .owl-item
{
    border-radius: 20px;

    border: 1px solid #e2e2e2;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}
@media (max-width: 480px) {
    .otros-posts .post .info .post-subtitle {

        height: auto;
    }
    .otros-posts .owl-stage-outer
    {
        padding: 0px;
    }

    .otros-posts .owl-item
    {
        box-shadow: none;
    }


}
